*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
body{
    background-image:url('images/wea.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}
.header-text{
    color: aqua;
    width: 100%;
    border-bottom: 1px solid #f4c4c4;
    padding: 10px 0;
    /* margin-bottom: 20px; */
}
.header-text h1{
    text-align: left;
    cursor: pointer;
    font-size: 30px;
    /* border-bottom: 1px solid black; */
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #6bc4ac, #c17a57);
    /* background: linear-gradient(135deg, #00feba, #5b548a); */
    color: #fff;
    margin: 120px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    background: #ebfffc;
    border: 0;
    outline: 0;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    font-size: 18px;
    flex: 1;
    margin-right: 16px;
}
.search button{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #fff;
    /* font-size: 20px; */
    cursor: pointer;
}
.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}

.error{
    text-align: left;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    display: none;
}